HDTB*/*
UDTB*/*
Old_Code/
EVALB/
examples_1/
Failed_Python/
Papers/
HindiDependencyParser/data/
HindiDependencyParser/out/
.idea/
.DS_Store
malt*/
HindiDependencyParser/output/
HindiDependencyParser/HindiDependencyParser.iml
HindiDependencyParser/model
HindiDependencyParser/feature_train.txt
HindiDependencyParser/train.txt
.classpath
.project
result.txt
