HDTB*/*
UDTB*/*
Old_Code/
EVALB/
examples_1/
Failed_Python/
Papers/
HindiDependencyParser/data/
HindiDependencyParser/out/
.idea/
.DS_Store
malt*/

HindiDependencyParser/HindiDependencyParser.iml

HindiDependencyParser/model
